:root {
  --transition: all 0.3s linear;
  --spacing: 0.15rem;
  --radius: 1.5625rem;
  --radius-2: 0.25rem;
  --gray: #262626;
  --gray-2: #617d98;
  --gray-3: #dae2ec;
  --gray-4: #f1f5f8;
}

h1,
h2,
h3 {
  letter-spacing: var(--spacing);
}

h3 {
  font-weight: 300;
}

a {
  text-decoration: none;
  color: var(--gray);
  transition: all 0.3s linear;
  outline-color: var(--secondary) !important;
}

ul {
  padding: 0;
  list-style-type: none;
}

.display-1,
.display-2,
.display-3,
.display-4 {
  font-weight: 700;
}

.section {
  padding: 5rem 0;
}

.button {
  text-decoration: none !important;
  text-transform: capitalize;
  outline-color: var(--secondary) !important;
  transition: var(--transition);
  letter-spacing: var(--spacing);
}

.btn-gray {
  text-transform: uppercase;
  color: var(--gray-2);
  background: var(--gray-3);
  display: inline-block;
  padding: 0.6rem 0.6rem;
  border-radius: var(--radius-2);
}
