img {
  width: 10rem;
}

.toggle-btn {
  margin-top: 1rem;
  font-size: 2.5rem;
  background: transparent;
  border-color: transparent;
  color: var(--primary);
  cursor: pointer;
  transition: var(--transition);
  outline-color: var(--secondary) !important;
}

.nav-links {
  display: none;
}

.nav-links li {
  margin: 0.5rem 0;
}

.nav-links a {
  text-transform: capitalize;
  font-size: 1.1rem;
  font-weight: 500;
}

@media screen and (min-width: 992px) {
  img {
    width: 12rem;
  }

  .navbar-header img {
    flex: 1 1 1rem;
  }

  .toggle-btn {
    display: none;
  }

  .nav-links {
    padding: 0;
    margin-top: 2rem;
    flex: 1 1 1rem;
    display: flex;
    justify-content: center;
  }

  .nav-links a {
    margin: 2rem;
    font-size: 1.25rem;
  }

  .nav-links a:hover {
    color: var(--primary);
    text-decoration-thickness: 0.1875rem;
  }
}
