.hero {
  min-height: 100vh;
}

.hero-grid {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 25% 75% 0;
}

.hero-center {
  grid-row: 2/3;
}

.hero-image-footer {
  display: none;
}

.hero-footer {
  grid-row: 3/4;
  background-color: var(--primary);
}

.hero-info {
  text-align: center;
  padding-top: 2rem;
  margin-bottom: 10rem;
}

.hero-info h2 {
  font-weight: 300;
}

.hero-button {
  background: var(--white);
  color: var(--primary);
  padding: 0.6rem 0.6rem;
  display: inline-block;
  font-weight: 700;
  font-size: 1.3rem;
  border: 4px solid var(--primary);
  border-radius: var(--radius);
  margin-top: 4rem;
}

.hero-button:hover {
  color: var(--secondary);
  border-color: var(--secondary);
}

.social-links {
  margin-top: 3.2rem;
  display: flex;
  justify-content: space-evenly;
}
.social-link {
  font-size: 2.2rem;
  color: var(--gray);
  transition: var(--transition);
}
.social-link:hover {
  color: var(--secondary);
}

.hero-image {
  display: none;
}

.hero-image-footer img {
  display: none;
}

@media screen and (min-height: 736px) {
  .hero-grid {
    grid-template-rows: 25% 45% 20% 10%;
  }
  .hero-image-footer {
    grid-row: 3/4;
  }
  .hero-footer {
    grid-row: 4/5;
  }
}

@media screen and (min-height: 812px) {
  .hero-image-footer img {
    display: block;
  }
}

@media screen and (min-width: 728px) {
  .hero-image-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  .hero-image-footer img {
    height: 100%;
    margin-bottom: -3px;
  }
}

@media screen and (min-height: 992px) and (min-width: 812px) {
  .social-links {
    margin-top: 3.2rem;
    width: 20rem;
    justify-content: space-between;
  }
  .hero-info {
    text-align: left;
  }
  .hero-image {
    display: block;
  }
}
